<footer class="bg-gray-900 text-gray-300 py-10">
    <div class="max-w-6xl mx-auto grid md:grid-cols-4 gap-8 px-6">
        <div>
            <div class="flex items-center gap-2">
                <a href="/">
                    <img src="/Imagenes/Logo/logo  (1).png" alt="Logo El Recetario" class="h-10 w-auto">
                </a>
                <span class="text-xl font-bold">El Recetario®</span>
            </div>
            <p class="mt-2 text-gray-300">Descubre recetas increíbles con los ingredientes que tienes en casa.</p>
            <div class="text-white hover:text-gray-300">
                <div class="flex justify-start items-center gap-4 mt-4">
                    <a href="https://facebook.com" target="_blank" class="text-2xl">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://instagram.com" target="_blank" class="text-2xl">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://x.com" target="_blank" class="text-2xl">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>

        <div>
            <h4 class="text-white font-semibold mb-2">Características</h4>
            <ul class="space-y-1 text-gray-300">
                <li><a href="/recetas" class="hover:underline">Recetas</a></li>
                <li><a href="/categorias" class="hover:underline">Categorías</a></li>

                <li><a href="/recetas" class="hover:underline">Busqueda de recetas</a></li>
            </ul>
        </div>

        <div>
            <h4 class="text-white font-semibold mb-2">Comunidad</h4>
            <ul class="space-y-1 text-gray-300">
                <li><a href="/buscar-usuarios" class="hover:underline">Sigue a chefs</a></li>
                <li><a href="/recetas-guardadas" class="hover:underline">Guardar recetas</a></li>
                <li><a href="/comunidad" class="hover:underline">Compartir opiniones</a></li>
            </ul>
        </div>

        <div>
            <h4 class="text-white font-semibold mb-2">Asistencia</h4>
            <ul class="space-y-1 text-gray-300">
                <li><a href="/contacto" class="hover:underline">Contáctenos</a></li>
                <li><a href="/terminos" class="hover:underline">Términos de servicio</a></li>
                <li><a href="/privacidad" class="hover:underline">Política de privacidad</a></li>
            </ul>
        </div>
    </div>

    <div class="text-center mt-8 text-sm text-gray-500">
        © 2025 El Recetario®. Todos los derechos reservados.
    </div>
</footer>