<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto - El Recetario</title>
  <link rel="shortcut icon" href="../Imagenes/Logo/favicon.ico">
  <link href="./css/output.css" rel="stylesheet">
  <script src="/js/userSession.js"></script>
</head>

<body>
  <div class="isolate bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
    <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
      <div
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
        class="relative left-1/2 -z-10 aspect-1155/678 w-144.5 max-w-none -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-40rem)] sm:w-288.75">
      </div>
    </div>

    <!-- Logo -->
    <div class="mb-10">
      <div class="flex items-center justify-center">
        <a href="/inicio">
          <img src="/Imagenes/Logo/logo  (1).png" alt="Logo El Recetario" class="h-16 w-auto mx-auto">
        </a>
      </div>
    </div>

    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-4xl font-semibold tracking-tight text-balance text-white sm:text-5xl">Contáctanos</h2>
      <p class="mt-2 text-lg/8 text-gray-400">
        ¿Tienes alguna pregunta, sugerencia o comentario?
      </p>
      <p class="mt-2 text-lg/8 text-gray-400">
        Completa el siguiente formulario y te responderemos a la brevedad.
      </p>
    </div>

    <form action="/enviar-contacto" method="POST" class="mx-auto max-w-xl">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
        <div class="sm:col-span-2">
          <label for="nombre" class="block text-sm/6 font-semibold text-white">Nombre</label>
          <div class="mt-2.5">
            <input type="text" name="nombre" id="nombre" placeholder="Tu nombre completo" required
              class="block w-full rounded-md bg-white/5 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500" />
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="email" class="block text-sm/6 font-semibold text-white">Correo electrónico</label>
          <div class="mt-2.5">
            <input type="email" name="email" id="email" placeholder="tucorreo@ejemplo.com" required
              class="block w-full rounded-md bg-white/5 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500" />
          </div>
        </div>

        <div class="sm:col-span-2">
          <label for="mensaje" class="block text-sm/6 font-semibold text-white">Mensaje</label>
          <div class="mt-2.5">
            <textarea name="mensaje" id="mensaje" rows="5" placeholder="Escribe tu mensaje aquí..." required
              class="block w-full rounded-md bg-white/5 px-3.5 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500"></textarea>
          </div>
        </div>

        <div class="flex items-center gap-x-4 sm:col-span-2">
          <label class="switch">
            <input id="agree-to-policies" type="checkbox" name="agree-to-policies">
            <span class="slider"></span>
          </label>
          <label for="agree-to-policies" class="text-sm/6 text-gray-400">
            He leído y acepto la <a href="/privacidad" class="font-semibold text-indigo-400 hover:underline">Política de
              privacidad</a>.
          </label>
        </div>
      </div>

      <div class="mt-10">
        <button type="submit"
          class="block w-full rounded-md bg-indigo-500 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
          Enviar
        </button>
      </div>
    </form>
  </div>
</body>

</html>